caption{
  font-size: 20pt;
  color: black;
}

.navBar{
  background-color: black;
  color: yellow;
  padding: 20px;
  text-align: center;
}



.instructions{
  border: 10px solid;
  border-color: yellow;
  border-radius: 2px;
}

.buttons{
  width: 25%;
}


.classBox {
  position: absolute;
  background-color: white;
  text-align: center;
  border: 5px solid black;
  height: 150px;
  width: 150px;

}

.classBoxName {
  padding: 10px;
  cursor: move;
  background-color: yellow;
  color: black;
  border: 2px solid gray;
}

tr{
  border: 2px solid;
  padding-bottom: 10px;

}

